/* --- CSS de Depuração de Sintaxe --- */
/* water.css (dark) compilado */
html{scrollbar-color:#040a0f #202b38;scrollbar-width:thin}body{font-family:system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','Segoe UI Emoji','Apple Color Emoji','Noto Color Emoji',sans-serif;line-height:1.4;max-width:800px;margin:20px auto;padding:0 10px;word-wrap:break-word;color:#dbdbdb;background:#202b38;text-rendering:optimizeLegibility}h1,h2,h3,h4,h5,h6,strong{color:#fff}h1,h2,h3,h4,h5,h6,b,strong,th{font-weight:600}h1{font-size:2.2em;margin-top:0}h1,h2,h3,h4,h5,h6{margin-bottom:12px;margin-top:24px}blockquote{border-left:4px solid #0096bfab;margin:1.5em 0;padding:.5em 1em;font-style:italic}a{text-decoration:none;color:#41adff}a:hover{text-decoration:underline}code,samp,time,pre>code{font-size:1.3em!important}code,samp,time{background:#161f27;color:#ffbe85;padding:2.5px 5px;border-radius:6px}pre>code{padding:10px;display:block;overflow-x:auto}hr{border:none;border-top:1px solid #526980}table{border-collapse:collapse;margin-bottom:10px;width:100%;table-layout:fixed}td,th{padding:6px;text-align:left;vertical-align:top;word-wrap:break-word}thead{border-bottom:1px solid #526980}tbody tr:nth-child(even){background-color:#161f27}

/* --- Bloco de Cores de Depuração --- */
.al { color: red !important; }
.an { color: teal !important; }
.at { color: lime !important; }
.bn { color: green !important; }
.bu { color: fuchsia !important; } /* BUILTIN - ROSA CHOQUE */
.cf { color: #82aaff !important; } /* CONTROL FLOW - AZUL CLARO */
.ch { color: teal !important; }
.co { color: #60a0b0 !important; } /* COMMENT - CINZA/AZUL */
.cv { color: teal !important; }
.cn { color: lime !important; } /* CONSTANT/NUMBER - VERDE LIMÃO */
.do { color: yellow !important; } /* DOCUMENTATION - AMARELO */
.dt { color: lightcoral !important; }
.dv { color: green !important; }
.er { color: red !important; }
.fl { color: green !important; }
.fu { color: cyan !important; }
.im { color: green !important; }
.in { color: teal !important; }
.kw { color: cyan !important; } /* KEYWORD - CIANO */
.op { color: #82aaff !important; } /* OPERATOR - AZUL CLARO */
.ot { color: green !important; }
.pp { color: orange !important; }
.sc { color: teal !important; }
.ss { color: plum !important; }
.st { color: teal !important; }
.va { color: magenta !important; } /* VARIABLE - MAGENTA */
.vs { color: teal !important; }
.wa { color: teal !important; }